
<div class="container">
  <form id="updateItem">
     <label for="category">Category:</label>
      <select id="category" class="browser-default" onfocus="displayOptions()">
      <option value="" disabled selected>Select the category..</option>
      </select>
      
      
    <label for="txt">Title:</label><br />
        <input type="text" name="txt" id="txt" placeholder="Title" value="{{title}}"/>
        <br>

      <label for="lname">Description:</label><br />
        <input type="text" id="lname" name="lname" placeholder="Description" value="{{description}}"/><br /><br />
        <button type="click" class="btn red accent-2 waves-effect" id="updateBtn">
          Update
        </button>
        <button type="click" class="btn red accent-2 waves-effect" id="delItemBtn">
          Delete
        </button>
  </form>
</div>
<br>


<script src="/js/searchItems.js"></script>