<div class="wrapper">
  <p>Update your item...</p>
  <input type="text" class="title" placeholder="Title" />
  <input type="text" class="description" placeholder="Description...." />
    <button onclick="window.location.href='index.html'" class="okbtn">
    OK
  </button>
</div>
