
<div class="container center">
  <h3 class="flow-text">Post your items here</h3>
  <div class="row">
    <div class="col s12">
      <form id='postItem'>
    <label for="Category">Category:</label>
      <select id="category" class="browser-default" onfocus="displayOptions()">
      <option value="" disabled selected>Select the category..</option>
      </select>
      
      
    <label for="txt">Title:</label><br />
        <input type="text" name="txt" id="txt" placeholder="Title"/>
        <br>

      <label for="lname">Description:</label><br />
        <input type="text" id="lname" name="lname" placeholder="Description" /><br /><br />
        <button type="submit" class="btn red accent-2 waves-effect">
          Add new Item
        </button>
      <br>
  </form>

    </div>
  </div>
  
  <br>
 

</div>

<div class="container">
   <div class="row"> 
  
    {{#each items as |item|}}
    {{>item-details}}
    {{/each}}

  </div>
</div>

<script src="./js/profile.js"></script>
<script src="./js/searchItems.js"></script>
